/* Lista de tarefas */
.todo__list {
  padding: 32px;
  flex-direction: column;
}

.todo__list__subtitle {
  color: rgb(125, 80, 0);
  margin-right: 8px;
}

.todo__list__ul {
  margin-top: 16px;
  flex-direction: column;
}