.btn-filter {
  margin-left: 4px;
  width: 10%;
  height: 30px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid brown;
  background-color: brown;
  color: white;
}

.btn-filter:hover {
  color: brown;
  background-color: white;
  transition: 1s;
}

@media screen and (max-width: 800px) {
  .btn-filter {
    width: 20%;
  }
}
