@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Baloo+Da&display=swap");

/* Normalize */

* {
  font-family: "Baloo Da", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

input, button {
  border: none;
}

button {
  cursor: pointer;
}