.add__todo, 
.add__todo__input,
.add__todo__submit {
  padding: 8px;
}

.add__todo__input,
.add__todo__submit {
  height: 50px;
  border-radius: 5px;
}

.add__todo {
  background-color: wheat;
  align-items: center;
}

.add__todo__title {
  font-size: 3vw;
  color: palevioletred;
}

.add__todo__input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add__todo__submit {
  background-color: palevioletred;
  color: white;
}

.add__todo__submit:hover {
  background-color: plum;
  transition: 0.5s;
}

@media (max-width: 599px) {
  .add__todo,
  .add__todo__form {
    flex-direction: column;
    width: 100%;
  }

  .add__todo__title {
    font-size: 6vw;
  }

  .add__todo__input {
    margin-bottom: 8px;
  }
}

@media (min-width: 600px) {
  .add__todo {
    padding: 32px;
    justify-content: space-evenly;
  }

  .add__todo__form {
    width: 40%;
  }

  .add__todo__input {
    width: 70%;
    margin-right: 8px;
  }
}